@media screen{
	.container{
		width: 60%;
		min-width: 800px;
		margin: 0 auto;
		font-weight: 200;
	}

	.col-4 {
		width:39s%;
		display: inline-block;
		vertical-align: top;
		margin: 0 auto;
	}

	.col-5 {
		width: 49%;
		display: inline-block;
		vertical-align: top;
		margin: 0 auto;
	}


	.col-6 {
		width: 59%;
		display: inline-block;
		vertical-align: top;
		margin: 0 auto;
	}
}

@media screen and (max-width:1920px){
	.container{
		width: 70%;
		min-width: 800px;
		margin: 0 auto;
		font-weight: 200;
	}

	.col-4 {
		width:38%;
		display: inline-block;
		vertical-align: top;
		margin: 0 auto;
	}

	.col-5 {
		width: 48%;
		display: inline-block;
		vertical-align: top;
		margin: 0 auto;
	}


	.col-6 {
		width: 58%;
		display: inline-block;
		vertical-align: top;
		margin: 0 auto;
	}
}

@media screen and (max-width:1000px){
	.container{
		width: 80%;
		min-width: 600px;
		margin: 0 auto;
		font-weight: 200;
	}

	.col-4 {
		width:80%;
		display: block;
		margin: 0 auto;
	}

	.col-5 {
		width: 80%;
		display: block;
		margin: 0 auto;
	}

	.col-6 {
		width: 80%;
		display: block;
		margin: 0 auto;
	}
}

@media screen and (max-width:680px){
	.container{
		width: 100%;
		min-width: 300px;
		margin: 0 auto;
		font-weight: 200;
	}

	.col-4 {
		width: 100%;
		display: block;
		margin: 0 auto;
	}

	.col-5 {
		width: 100%;
		display: block;
		margin: 0 auto;
	}

	.col-6 {
		width: 100%;
		display: block;
		margin: 0 auto;
	}
}

h3{
	font-weight: 400;
	margin-top: 40px;
	margin-bottom: 5px;
}

h4{
	font-weight: 400;
	margin-top: 20px;
	margin-bottom: 5px;
}

p{
	margin: 0px;
	font-size: 11px;
}

.publication-list li {
	list-style-type:square;
	margin-top: 5px;
	font-size: 11px;
}

/*a:link{
	text-decoration: none;
}
*/
a {
	color: #797c7a !important;
}

.header{
	height: 120px;
	border-bottom: solid 1px #eeeeee;
	padding: 0 10px;
}

.name-block{
	display: inline-block;
	height: 80px;
	vertical-align: top;
	margin: 30px 0px 10px 0px;
}

.name{
	/*margin-top: 40px;*/
	/*margin-top: 10px;*/
	margin-bottom: 5px;
	font-size: 20px;
	line-height: 40px;
}

.email{
	font-size: 11px;
	line-height: 15px;
}

.profile{
	width: 80px;
	height: 80px;
	display: inline-block;
	margin: 30px 0px 10px 0px;
	border-radius: 3px;
	background: url("yixuan_profile.jpg");
	background-size: contain;
	float:right;
	vertical-align: top;
}

.content{
	padding: 0 10px;
	text-align: justify;
}

.content:after {
	content: "";
	width: 100%;
	display: inline-block;
}

/*
.map {
	width: 100%;
	display: block;
	margin: 10px auto;
}

.calendar {
	width: 100%;
	margin: 10px auto;
}
*/
 

.footer{
	height: 30px;
	bottom: 0px;
	left: 0px;
	border-top: solid 1px #eeeeee;
	font-size: 11px;
	color: #bbbbbb;
	margin-top: 50px;
	padding: 0 10px;
}

.footer-links{
	list-style: none;
	padding: 0px;
}

.footer-links li {
	margin-left: 10px;
	display: inline-block;
}

.footer-links li a {
	color: #999999;
}

.footer-icon {
	width: 16px;
	height: 16px;
}

/*----divider style----*/

hr {
  margin: 1.5em auto;
  position: relative;
  height: 9px;
  width: 9px;
  border: transparent;
  overflow: visible;
  background-image: url('data:image/svg+xml;utf8,<svg width="9" height="9" viewBox="0 0 9 9" xmlns="http://www.w3.org/2000/svg"><rect x="0.75" y="0.5" width="8" height="8" rx="4" fill="%231CB0A8" /></svg>');
  
  &:before {
    position: absolute;
    height: 9px;
    width: 10px;
    content: '';
    background-image: url('data:image/svg+xml;utf8,<svg width="10" height="9" viewBox="0 0 10 9" xmlns="http://www.w3.org/2000/svg"><path d="M3.91043 1.29752C4.30449 0.688518 5.19551 0.688519 5.58957 1.29752L9.25143 6.95675C9.68196 7.62211 9.20436 8.5 8.41186 8.5H1.08814C0.29564 8.5 -0.181954 7.62211 0.248574 6.95675L3.91043 1.29752Z" fill="%23FCB643" /></svg>');
    left: -18px;
  }
  
  &:after {
    position: absolute;
    height: 9px;
    width: 9px;
    content: '';
    background-image: url('data:image/svg+xml;utf8,<svg width="9" height="9" viewBox="0 0 9 9" xmlns="http://www.w3.org/2000/svg"><rect x="0.75" y="0.5" width="8" height="8" rx="1" fill="%23EF4056" /></svg>');
    right: -18px;    
  }
}
