body {
  font-size: 1.2em;
}

.level{
  height: 100px;
}

.project {
  margin-top: 3%;
}

.projectIntro a{
  color: #717171 !important;
}

.marginTop3 {
  margin-top: 3%;
}
/*.tile-container {
  width: 70%;
  margin: 3% auto;
}*/


/*----- project container ------*/
/*.project_bg {
  width: 100%;
}*/

.project_bg img{
  object-fit: cover;
  width:100%;
  height:500px;
  position: relative;
}

.layover_bgText_cuisine {
   position: absolute;
   top: 200px;
   left: 1000px;
   width: 100%;
}

.layover_bgText_cuisine> p{
  color: white;
}

/* ---- Projec  Airbnb ----*/
.layover_bgText_airbnb {
  position: absolute;
  top: 220px;
  left: 540px;
  width: 100%;
}

#airbnbVideoContainer{
  margin: 5% 15%;
}

/* ---- Projec  Hydrateme ----*/
.layover_bgText_hydrateme {
  position: absolute;
  top: 220px;
  left: 165px;
  width: 30%;
}

.hydrateMe_sliderContainer {
  margin-top: -120px;
}

/* ---- Projec  BabyCareLog ----*/
.babyCareLogSliderContainer {
  margin-top: 5%;
}

.layover_bgText_babycarelog {
  position: absolute;
  top: 220px;
  left: 800px;
  width: 30%;
}

.layover_bgText_babycarelog> p {
  font-weight: bolder;
  color: white;
}

#babycarelog_title {
  font-size: 4em;
}

.project_description_title {
  width: 70%;
  margin: 5% auto;
}

.highlight {
  font-weight: bold;
}

.indent {
  padding-left: 8%;
  padding-top: 2%;
}

.text_chunk {
  margin-top: 5%;
}

.hydrateme_images_demo {
  width: 80%;
  margin: 1% auto;
}
/*----- about ------*/
.about-content {
  width: 50%;
  margin: 2% auto;
}

.about_section_title {
  margin-top: 3%;
  font-size: 1.5em;
}
